PORT=3000
PAYMENT_MODE=auto
MERCHANT_QRIS_STATIC="00020101021126360014ID.CO.QRIS.WWW0114GENERICSTORE015204581253033605802ID5911QRIS SAURUS6007JAKARTA63041669"
MIDTRANS_SERVER_KEY=
MIDTRANS_SANDBOX=true
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
DUITKU_MERCHANT_CODE=
DUITKU_MERCHANT_KEY=
DUITKU_SANDBOX=true
DUITKU_RETURN_URL=http://localhost:3000/payments/duitku/return
DUITKU_CALLBACK_URL=http://localhost:3000/payments/duitku/callback
DOKU_CLIENT_ID=
DOKU_CLIENT_SECRET=
DOKU_PRIVATE_KEY=
DOKU_MERCHANT_ID=
DOKU_TERMINAL_ID=
DOKU_SANDBOX=true
